/* product.html */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --light-light-mocha: #fffaef;
    --lightmocha: #fff8e9;
    --mocha:		#fff0d5;
    --darkmocha: #f0d8aa;
    --darkermocha: #cfb077;
    --darker: #aa8a59;
    --black: #000;
    --lightorange: #FFB866;
    --darkorange: #ff9419;
    --red: #F5604C;
    --pink: #f599a8;
    --beige: #cea97a;
    --yellow: #ffc247;
    --green: #6DD666;
    --blue: #51e5f8;
    --gold: #F5C51F;
    --violet: #e0b7f0;
    --greyed-out: #7e7363;
    --font: 'DM Sans', sans-serif;
    --pad-and-gap: 1em;
}

html {
    font-family: var(--font);
    background-color: var(--mocha);
}

body {
    background-color: var(--mocha);
    
}

main {
    padding: calc(var(--pad-and-gap)*6) 0;
    color: var(--black);
    padding-bottom: calc(var(--pad-and-gap)*3);
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    margin-bottom: calc(var(--pad-and-gap)/2);
    margin-top: 0;
}

h4 {
    margin-top: calc(var(--pad-and-gap)/3);
    margin-bottom: calc(var(--pad-and-gap)/3);
}

table td {
    width: 7em;
}

hr {
    border-color: var(--lightmocha);
    border-top: 1px solid var(--darkermocha);
    width: 80%;
}

nav ul li ul {
    position: absolute;
}

div .product-info-1 {
    margin-top: 0;
}

button {
    border-radius: 2em;
    margin-top: var(--pad-and-gap);
    margin-bottom: var(--pad-and-gap);
    padding: calc(var(--pad-and-gap)/2);
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 3px var(--darkermocha);
    border: none;
    font-size: 1.2em;
}

footer button:hover {
    background-color: var(--darkorange);
    color: white;
    border: none;
}

footer button {
    text-align: center;
}

form fieldset legend {
    padding: 0.5em 0;
}

dd {
    font-size: 1.5em;
    padding: calc(var(--pad-and-gap)/3) 0;
    margin: 0;
}

a {
    color: var(--black);
}

data del {
    color: var(--greyed-out);
    font-size: 1.2em;
}

data ins {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--darkorange);
}

dl dt {
    padding-top: var(--pad-and-gap);
}

dl dd .material-icons {
    color: var(--gold);
}

form fieldset legend {
    padding: calc(var(--pad-and-gap)/3) 0;
}

.gallery  {
    margin: 6em;
    margin-top: 0;
    margin-bottom: 0;
}

.gallery-img {
    display: none;
}

.gallery-img.active {
    display: block;
}

.gallery-button {
    background-color: transparent;
    margin: 1em 0.4em;
    height: 0.4em;
    font-size: 1em;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 3px var(--darker);
    border-radius: 50%;
    cursor: pointer;
}

.gallery-button.active {
    background-color: var(--darkorange);
}

.gallery-controls {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
	bottom: 0;
}

.page-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: var(--lightmocha);
    position: fixed;
    justify-items: center;
    padding: var(--pad-and-gap);
    box-shadow: 0px 0px 3px var(--darker);
}

.navigation {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.menu-toggle {
    padding-top: calc(var(--pad-and-gap)/1.5);
}

.menu.active {
    padding-top: calc(var(--pad-and-gap)*1.5);
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--lightmocha);
    border-radius: 1em;
    right: 0;
    align-items: center;
}

.menu.active li:hover {
    background-color: var(--violet);
    border-radius: 2em;
}

.menu.active li {
    padding: calc(var(--pad-and-gap)/8) var(--pad-and-gap);
    margin: calc(var(--pad-and-gap)/2);
    text-align: center;
}

.product {
    margin: 4em 1em;
    margin-bottom: 0;
    padding-top: 5em;
    text-align: center;
    max-width: 100em;
    margin: auto;
}

.products {
    padding-bottom: 0;
}

.product-info {
    text-align: left;
    padding: 0 calc(var(--pad-and-gap)*2);
}

.justify {
    display: inline-block;
    text-align: left;
}

.pagination {
    padding: 0;
    text-align: center;
    margin-right: 0;
}

.page-footer {
    background-color: var(--darkorange);
    padding: var(--pad-and-gap);
    padding-top: calc(var(--pad-and-gap)*2);
}

.footer-grid {
    display: grid;
    grid-template-columns: 130px 130px;
    padding: var(--pad-and-gap);

}

.social {
    display: flex;
    flex-direction: row;
}

.legal {
    justify-content: space-evenly;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: var(--pad-and-gap);
}

.contact {
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: var(--pad-and-gap);
}

.footer-resize {
    padding-top: var(--pad-and-gap);
    font-size: 1.4em;
}

.social li  a {
    text-decoration: none;
    padding: calc(var(--pad-and-gap)/1.5);
}

.legal li a {
    text-decoration: none;
    padding-top: var(--pad-and-gap);
}

.contact li a {
    text-decoration: none;
    padding-top: var(--pad-and-gap);
}

.copyright {
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--font);
    max-width: 40em;
    margin: auto;
}

.about {
    padding: 0 var(--pad-and-gap);
    max-width: 100em;
}

.about h1 {
    font-size: 1.5em;
}

.suggested h1 {
    font-size: 1.5em;
}

.details h1 {
    font-size: 1.4em;
}

.banner {
    font-size: 0.7em;
    padding: var(--pad-and-gap);
    padding-top: calc(var(--pad-and-gap)*2);
    background-color: var(--lightorange);
    box-shadow: 0px 0px 3px var(--darker);
    text-align: center;
    width: 100%;
}

.results {
    padding: 0 var(--pad-and-gap);
}

.subheading {
    margin: 1em 0;
}

.grid-title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: calc(var(--pad-and-gap)/2);
    margin-bottom: 0.7em;
}

.suggested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--pad-and-gap);
    column-gap: var(--pad-and-gap);
    row-gap: var(--pad-and-gap);
}

.suggested h3 {
    padding-top: calc(var(--pad-and-gap)/1.5);
}

.child-1 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: calc(var(--pad-and-gap)/2);
    padding-bottom: 0.7em;
}

.child-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: calc(var(--pad-and-gap)/2);
    padding-bottom: 0.7em;
}

.child-3 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: calc(var(--pad-and-gap)/2);
    padding-bottom: 0.7em;
}

.child-4 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: calc(var(--pad-and-gap)/2);
    padding-bottom: 0.7em;
}

.child-5 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: calc(var(--pad-and-gap)/2);
    padding-bottom: 0.7em;
}

.child-6 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: calc(var(--pad-and-gap)/2);
    padding-bottom: 0.7em;
}

.search {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: calc(var(--pad-and-gap)/4);
}

#filterResults {
    width: 5em;
    height: 2em;
    border-radius: 4em;
    background-image: url(../img/search_bar.svg);
    background-repeat: no-repeat;
    background-size: 43%;
    border: none;
    box-shadow: 0px 1px 3px var(--darkermocha);
    background-color: white;
    padding-left: calc(var(--pad-and-gap)*2);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-decoration: none;
    color: var(--red);
    font-family: var(--logo);
    text-align: center;
    width: 8em;
}

.your-products {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
}

.fav {
    color: var(--darkorange);
}

.bag {
    color: var(--black);
}

.cart {
    width: 2.1em;
}

.cart a {
    text-decoration: none;
}

.cart span {
    font-size: 0.8em;
}

.navigation ul {
    display: none;
    justify-content: space-evenly;
    padding: calc(var(--pad-and-gap)/2);
}

.menu-toggle {
    padding-top: calc(var(--pad-and-gap)/1.5);
}

.favourites {
    margin-top: 0;
    background-color: white;
    box-shadow: 0px 1px 3px var(--darkermocha);
    overflow: hidden;
}

.large-scale {
    text-align: center;
}

.favourites:hover {
    background-color: var(--pink);
    color: white;
    border: none;
}

nav .navigation ul {
    display: flex;
    justify-content: space-evenly;
    padding: calc(var(--pad-and-gap)/2);
}

.menu li ul {
    display: none;
}

.menu li:hover ul {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
}

.submenu {
    display: none;
}

.submenu li {
    display: none;
}

.book-label-main {
    padding-top: var(--pad-and-gap);
    padding-bottom: var(--pad-and-gap);
    width: 100%;
}

.book-label {
    padding-top: var(--pad-and-gap);
}

.my-checkbox {
    display: flex;
    cursor: pointer;
}

.my-checkbox > span {
    padding: 0 calc(var(--pad-and-gap)/3);
}

.my-checkbox > input {
    height: 1em;
    width: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 2px var(--darker);
    border-radius: 0.33em;
}

.my-checkbox > input:checked {
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.my-checkbox > input:hover {
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

/*.suggested-button {
    width: 6.5em;
    border-radius: 2em;
    background-color: var(--mocha);
    margin-top: var(--pad-and-gap);
    margin-bottom: 0;
    padding: calc(var(--pad-and-gap)/2);
    align-items: center;
    border: 1px solid var(--black);
    min-width: 6.6em;
}*/

.details {
    padding: var(--pad-and-gap);
    padding-top: 0;
    padding-bottom: calc(var(--pad-and-gap)*2.5);
    font-size: 1.1em;
}

@media screen and (min-width: 28em) {
    
    .social {
        float: right;
    }
}

@media screen and (min-width: 45em) {
    
    
    h2 {
        font-size: 1.2em;
        margin: 0;
    }
    
    h3 {
        text-transform: uppercase;
        margin-bottom: calc(var(--pad-and-gap)/2);
        font-size: 2.5em;
    }
    
    h4 {
        margin-top: calc(var(--pad-and-gap)/3);
        margin-bottom: calc(var(--pad-and-gap)/3);
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
    }

    footer button {
        width: 70%;
        border-radius: 2em;
        background-color: white;
        margin-top: var(--pad-and-gap);
        margin-bottom: var(--pad-and-gap);
        padding: calc(var(--pad-and-gap)/2);
        align-items: center;
        background-color: white;
        box-shadow: 0px 1px 3px var(--darkermocha);
        border: none;
        font-size: 1.8em;
    }

    data del {
        color: var(--greyed-out);
        font-size: 1.5em;
    }
    
    data ins {
        font-size: 1.8em;
    }

    div form fieldset {
        font-size: 1.3em;
    }

    dl dt {
        padding-top: var(--pad-and-gap);
        font-size: 1.3em;
    }

    .gallery {
        margin: 6em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .gallery-button {
        font-size: 1.3em;
    }

    .page-header {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        gap: var(--pad-and-gap);
        justify-items: center;
        padding: calc(var(--pad-and-gap)/2);
    }

    .suggested {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .child-1 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 0.8em;
    }
    
    .child-2 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 0.8em;
    }
    
    .child-3 {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        font-size: 0.8em;
    }
    
    .child-4 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 0.8em;
    }
    
    .child-5 {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 0.8em;
    }
    
    .child-6 {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        font-size: 0.8em;
    }

    .suggested h3 {
        font-size: 1.5em;
    }

    .logo {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start:1;
        grid-column-end: 2;
        width: 9em;
        padding-left: var(--pad-and-gap);
        padding-top: calc(var(--pad-and-gap)/2);
    }

    .find {
        width: 2em;
    }

    .search {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 4;
        padding-top: calc(var(--pad-and-gap)*1.8);
        width: 4em;
    }

    .your-products {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        padding: var(--pad-and-gap);
    }

    .navigation {
        width: 80%;
        padding-top: 2em;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        padding: calc(var(--pad-and-gap)/2);
    }

    .menu-toggle {
        display: none;
    }

    .menu.active {
        display: none;
    }

    .submenu {
        background-color: var(--lightmocha);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 0;
        padding-left: 0;
        padding-top: var(--pad-and-gap);
        width: 10em;
        height: 10em;
        border-radius: 0.8em;
        font-family: var(--font);
    }

    .submenu li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        justify-content: left;
        padding-left: calc(var(--pad-and-gap)/2);
        align-items: center;
    }

    .submenu li:hover {
        background-color: var(--darkorange);
        border-radius: 0.7em;
    }

    .heading {
        margin: 0;
        padding: calc(var(--pad-and-gap)*4.3);
    }
}

@media screen and (min-width: 50em) {
   
    .gallery {
        margin: 11em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 70em) {

    div form fieldset {
        grid-row-start: 1;
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: calc(var(--pad-and-gap)*3);
        gap: calc(var(--pad-and-gap)*2);
    }

    .product-info {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 0;
        margin-top: calc(var(--pad-and-gap)*3);
    }

    .product-1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .product-2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .gallery {
        margin: 6em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .find {
        width: 2em;
    }

    .navigation {
        padding-top: calc(var(--pad-and-gap)*1.65);
    }

    .heading {
        margin: 0;
        padding: calc(var(--pad-and-gap)*6);
    }

    .suggested {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .child-4 {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .child-5 {
        grid-row-start: 2;
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .child-6 {
        grid-row-start: 2;
        grid-column-start: 6;
        grid-column-end: 7;
    }

    .menu {
        font-size: 1.2em;
    }
}