/* Note there a few "reset" styles given in reset.css. Review those before you begin */

/* index.html */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cabin:wght@400;500&family=Comfortaa&family=Poppins:wght@300&family=Questrial&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fredoka+One&display=swap');

:root {
    --lightmocha: #FFF4DE;
    --mocha:		#f7e4c0;
    --darkmocha: #E8CF9E;
    --darker: #C3A579;
    --black: #000;
    --font: 'Cabin', sans-serif;
    --logo: 'Fredoka One', cursive;
    --pad-and-gap: 1em;
}

html {
    font-family: var(--font);
    background-color: var(--mocha);
}

body {
    background-color: var(--mocha);
    
}

main {
    padding: calc(var(--pad-and-gap) * 6) 0;
    color: var(--black);
}

nav {
    width: 80%;
    padding-top: 2em;
}

nav ul li ul {
    position: absolute;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--pad-and-gap);
}

.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    width: 100%;
    background-color: var(--lightmocha);
    padding: var(--pad-and-gap);
    position: fixed;
    justify-items: center;
}

.heading {
    font-size: 1.8em;
    text-align: center;
    background-image: url(../img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: calc(var(--pad-and-gap)*2);
    margin-top: calc(var(--pad-and-gap)*2);
    color: var(--lightmocha);
    text-shadow: 2px 3px black;
}

.navigation {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--logo);
}

.filters {
    padding: 0 var(--pad-and-gap);
}

.results {
    padding: 0 var(--pad-and-gap);
}

.submenu {
    background-color: var(--lightmocha);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: var(--pad-and-gap);
    width: 10em;
    height: 10em;
    border-radius: 0.8em;
    font-family: var(--font);
}

.find {
    position: relative;
    background-color: var(--darker);
    height: 2em;
    width: 15em;
    border-radius: 1em;
    border: none;
    color: black;
}

.search {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: var(--pad-and-gap);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 2em;
    text-decoration: none;
    color: var(--darker);
    padding: calc(var(--pad-and-gap)/3);
    width: 6em;
    font-family: var(--logo);
    text-align: center;
}

.your-products {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    padding: var(--pad-and-gap)
}

.material-icons {
    color: var(--darker);
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    padding: calc(var(--pad-and-gap)/2);
}

.menu li ul {
    display: none;
}

.menu li:hover ul {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
}

.submenu li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submenu li:hover {
    background-color: var(--darker);
    border-radius: 0.7em;
}

.find:hover {
    background-color: var(--darker);
}

.search:hover .find:hover {
    transform: translate(-50%, -80%);
    width: 10em;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--pad-and-gap);
    flex-wrap: wrap;
}
 
.filter-options li {
    display: none;
}

.filter-options li:hover {
    display: flex;
}

.sort {
    padding-right: calc(var(--pad-and-gap)/2);
}

@media screen and (min-width: 40em) {
    
    .page-header {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        gap: var(--pad-and-gap);
        justify-items: center;
    }

    .logo {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start:1;
        grid-column-end: 2;
        width: 4em;
    }

    .find {
        width: 2em;
    }

    .search {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 4;
        padding-top: calc(var(--pad-and-gap)*1.75);
    }

    .your-products {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .navigation {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .heading {
        margin: 0;
        padding: calc(var(--pad-and-gap)*4);
    }
}

@media screen and (min-width: 70em) {
    
    .page-header {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        gap: var(--pad-and-gap);
        justify-items: center;
    }

    .logo {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start:1;
        grid-column-end: 2;
        width: 4em;
    }

    .find {
        width: 2em;
    }

    .search {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 4;
        padding-top: calc(var(--pad-and-gap)*1.75);
    }

    .your-products {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .navigation {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .heading {
        margin: 0;
        padding: calc(var(--pad-and-gap)*6);
    }
}