/* Note there a few "reset" styles given in reset.css. Review those before you begin */

/* index.html */
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --light-light-mocha: #fffaef;
    --lightmocha: #FFF4DE;
    --mocha:		#faeacc;
    --darkmocha: #f0d8aa;
    --darkermocha: #dfc38f;
    --darker: #96774a;
    --black: #000;
    --orange: #ffa339;
    --darkorange: #ff9419;
    --red: #F5604C;
    --pink: #f599a8;
    --beige: #cea97a;
    --yellow: #ffc247;
    --green: #6DD666;
    --blue: #51e5f8;
    --gold: #F5C51F;
    --violet: #e0b7f0;
    --greyed-out: #7e7363;
    --font: 'DM Sans', sans-serif;
    --logo: 'Hepta Slab', serif;
    --pad-and-gap: 1em;
}

html {
    font-family: var(--font);
    background-color: var(--mocha);
}

body {
    background-color: var(--mocha);
    
}

main {
    padding: calc(var(--pad-and-gap)*6) 0;
    padding-bottom: calc(var(--pad-and-gap)*3);
    color: var(--black);   
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    margin-bottom: calc(var(--pad-and-gap)/2);
}

h4 {
    margin-top: calc(var(--pad-and-gap)/3);
    margin-bottom: calc(var(--pad-and-gap)/3);
}

header label img {
    padding-top: var(--pad-and-gap);
}

nav ul li ul {
    position: absolute;
}

button {
    border-radius: 2em;
    background-color: var(--light-light-mocha);
    margin-top: var(--pad-and-gap);
    margin-bottom: var(--pad-and-gap);
    padding: calc(var(--pad-and-gap)/2);
    align-items: center;
    border: 1px solid var(--black);
    font-size: 1.2em;
    color: var(--black);
}

button:hover {
    background-color: var(--darkorange);
    border: none;
    color: white;
}

footer button {
    text-align: center;
}

form fieldset legend {
    padding: 0.5em;
}

dd {
    font-size: 1.5em;
    padding: calc(var(--pad-and-gap)/3) 0;
    margin: 0;
}

a {
    color: var(--black);
}

hr {
    border-color: var(--lightmocha);
    border-top: 1px solid var(--darkermocha);
}

data del {
    color: var(--greyed-out);
    font-size: 1.2em;
}

data ins {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--darkorange);
}

dl dt {
    padding-top: var(--pad-and-gap);
}

dl dd .material-icons {
    color: var(--gold);
}

/*section fieldset {
    grid-column-start: 2;
    grid-column-end: 3;
}*/

form fieldset legend {
    padding: calc(var(--pad-and-gap)/3) 0;
}

.result-filters fieldset h3 {
    text-transform: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pad-and-gap);
    /*grid-column-start: 2;
    grid-column-end: 3;*/
}

.page-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: var(--lightmocha);
    position: fixed;
    justify-items: center;
    padding: var(--pad-and-gap);
}

.banner {
    font-size: 0.7em;
    padding: var(--pad-and-gap);
    padding-top: calc(var(--pad-and-gap)*2);
    background-color: var(--darkmocha);
    text-align: center;
}

.heading {
    font-size: 1.8em;
    text-align: center;
    background-image: url(../img/clark-van-der-beken-1KBCgRD8BDc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: calc(var(--pad-and-gap)*4) 0;
    color: white;
    text-shadow: 0px 2px black;
}

.navigation {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.pagination {
    padding: 0;
    text-align: center;
    margin-right: 0;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pages li a {
    padding:calc(var(--pad-and-gap)/2);
}

.page-footer {
    background-color: var(--darkorange);
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--pad-and-gap);
    padding-top: calc(var(--pad-and-gap)*2);
}

.footer-grid {
    display: grid;
    grid-template-columns: 130px 130px;
    padding: var(--pad-and-gap);
}

.social {
    display: flex;
    flex-direction: row;
}

.social {
    display: flex;
    flex-direction: row;
}

.legal {
    justify-content: space-evenly;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: var(--pad-and-gap);
}

.contact {
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: var(--pad-and-gap);
}

.footer-resize {
    padding-top: var(--pad-and-gap);
    font-size: 1.4em;
}

.social li  a {
    text-decoration: none;
    padding: calc(var(--pad-and-gap)/1.5);
}

.legal li a {
    text-decoration: none;
    padding-top: var(--pad-and-gap);
}

.contact li a {
    text-decoration: none;
    padding-top: var(--pad-and-gap);
}

.copyright {
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--font);
    max-width: 40em;
    margin: auto;
}

.filters {
    padding: 0 var(--pad-and-gap);
    max-width: 100em;
    margin: auto;
}

.results {
    padding: 0 var(--pad-and-gap);
    max-width: 100em;
    margin: auto;
    margin-bottom: calc(var(--pad-and-gap)*2);
    margin-top: 1em;
    /*display: grid;
    grid-template-columns: 1fr 3fr;*/
}

.result-filters {
    align-content: center;
    float: right;
    border: 1px solid var(--black);
    padding: 0.5em var(--pad-and-gap);
    border-radius: 2em;
    grid-row-start: 1;
    grid-row-end: 5;
}

.result-filters fieldset {
    display: none;
}

.result-filters h2 {
    padding: 0;
}

.grid-container .product {
    background-color: var(--light-light-mocha);
    padding: var(--pad-and-gap);
    box-shadow: 0 0 1em var(--darkmocha);
    border-radius: 0.4em;
}

.grid-container .product footer {
    text-align: center;
}

.subheading {
    margin: 1em 0;
}

.find {
    position: relative;
    background-color: var(--darker);
    height: 2em;
    width: 15em;
    border-radius: 1em;
    border: none;
    color: black;
}

.search {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: calc(var(--pad-and-gap)/4);
}

#filterResults {
    width: 5em;
    height: 2em;
    border-radius: 4em;
    border: 1px solid black;
    background-image: url(../img/search_bar.svg);
    background-repeat: no-repeat;
    background-size: 43%;
    background-color: var(--lightmocha);
    padding-left: calc(var(--pad-and-gap)*2);
}

.logo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-decoration: none;
    color: var(--red);
    font-family: var(--logo);
    text-align: center;
    width: 8em;
}

.your-products {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
}

.fav {
    color: var(--pink);
}

.bag {
    color: var(--black);
}

.cart {
    width: 2.1em;
}

.cart a {
    text-decoration: none;
}

.cart span {
    font-size: 0.8em;
}

.navigation ul {
    display: none;
    justify-content: space-evenly;
    padding: calc(var(--pad-and-gap)/2);
}

.menu-toggle {
    padding-top: calc(var(--pad-and-gap)/1.5);
}

.menu.active {
    padding-top: calc(var(--pad-and-gap)*1.5);
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--lightmocha);
    border-radius: 1em;
    right: 0;
    align-items: center;
}

.menu.active li:hover {
    background-color: var(--violet);
    border-radius: 2em;
}

.menu.active li {
    padding: calc(var(--pad-and-gap)/8) var(--pad-and-gap);
    margin: calc(var(--pad-and-gap)/2);
    text-align: center;
}

.menu li ul {
    display: none;
}

.menu li:hover ul {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
}

.submenu {
    display: none;
}

.submenu li {
    display: none;
}

.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--pad-and-gap);
    padding-bottom: 0;
    flex-wrap: wrap;
    max-width: 100em;
}

.filter-options fieldset {
    padding: calc(var(--pad-and-gap)/2);
}

.fiction {
    /*background-color: var(--blue);*/
    padding: 0 calc(var(--pad-and-gap)/2);
    border-radius: 1em;
}

.fiction:hover {
    color: var(--blue);
}

.non-fiction {
    /*background-color: var(--violet);*/
    padding: 0 calc(var(--pad-and-gap)/2);
    border-radius: 1em;
}

.non-fiction:hover {
    color: var(--violet);
}

.wellness {
   /*background-color: var(--pink);*/
    padding: 0 calc(var(--pad-and-gap)/2);
    border-radius: 1em;
}

.wellness:hover {
    color: var(--pink);
}

.teens {
    /*background-color: var(--orange);*/
    padding: 0 calc(var(--pad-and-gap)/2);
    border-radius: 1em;
}

.teens:hover {
    color: var(--darkorange);
}

.kids {
    /*background-color: var(--yellow);*/
    padding: 0 calc(var(--pad-and-gap)/2);
    border-radius: 1em;
}

.kids:hover {
    color: var(--yellow);
}

.popularity {
    /*background-color: var(--beige);*/
    padding: 0 calc(var(--pad-and-gap)/2);
    border-radius: 1em;
}

.popularity:hover {
    color: var(--beige);
}

.book-label {
    padding-top: var(--pad-and-gap);
}

.book-picture {
    box-shadow: 1px 1px 1px black;
}

.sort {
    padding-right: calc(var(--pad-and-gap)/2);
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: var(--pad-and-gap);
}

#sort {
    background-color: var(--mocha);
    border-radius: 2em;
    border: 1px solid var(--black);
    font: var(--font);
    padding: 0.3em 0.2em;
    margin-bottom: calc(var(--pad-and-gap)*2);
    color: black;
    /*box-shadow: 0px 1px 2px var(--black);*/
}

.my-checkbox {
    display: flex;
    cursor: pointer;
}

.my-checkbox > span {
    padding: 0 calc(var(--pad-and-gap)/3);
}

.my-checkbox > input {
    height: 1.1em;
    width: 1.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border: 1px solid var(--black);
    background-color: #fff;
    border-radius: 0.33em;
}

.my-checkbox > input:checked {
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.my-checkbox > input:hover {
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.filter-options a {
    text-decoration: none;
}

.filter-list {
    display: none;
}

@media screen and (min-width: 28em) {
    
    .social {
        float: right;
    }
}

@media screen and (min-width: 45em) {
    
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--pad-and-gap);
        justify-self: center;
        justify-content: center;
        max-width: 100em;
        margin: auto;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .page-header {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        gap: var(--pad-and-gap);
        justify-items: center;
        padding: calc(var(--pad-and-gap)/2);
    }

    .logo {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start:1;
        grid-column-end: 2;
        width: 9em;
        padding-left: var(--pad-and-gap);
        padding-top: calc(var(--pad-and-gap)/2);
    }

    .find {
        width: 2em;
    }

    .search {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 4;
        padding-top: calc(var(--pad-and-gap)*1.8);
        width: 4em;
    }

    .your-products {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        padding: var(--pad-and-gap);
    }

    .navigation {
        width: 80%;
        padding-top: 2em;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        padding: calc(var(--pad-and-gap)/2);
    }

    .menu-toggle {
        display: none;
    }

    .menu.active {
        display: none;
    }

    .submenu {
        background-color: var(--lightmocha);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 0;
        padding-left: 0;
        padding-top: var(--pad-and-gap);
        width: 10em;
        height: 10em;
        border-radius: 0.8em;
        font-family: var(--font);
    }

    .submenu li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        justify-content: left;
        padding-left: calc(var(--pad-and-gap)/2);
        align-items: center;
    }

    .submenu li:hover {
        background-color: var(--violet);
        border-radius: 0.7em;
    }

    .heading {
        margin: 0;
        padding: calc(var(--pad-and-gap)*4.3);
    }

    .filter-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        flex-wrap: wrap;
        font-size: 1em;
    }

}

@media screen and (min-width: 60em) {

    section fieldset {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .results {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .result-filters {
        padding: 1.3em 0;
        border: none;
    }

    .result-filters h2 {
        padding-bottom: calc(var(--pad-and-gap)/2);
    }

    .result-filters fieldset {
        display: block;
    }

    .grid-container {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 70em) {
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--pad-and-gap);
    }

    .find {
        width: 2em;
    }

    .navigation {
        width: 80%;
        padding-top: calc(var(--pad-and-gap)*1.65);
    }

    .heading {
        margin: 0;
        padding: calc(var(--pad-and-gap)*6);
    }

    .filter-options {
        font-size: 1.2em;
    }

    .menu {
        font-size: 1.2em;
    }

}

@media screen and (min-width: 90em) {

    .filter-options {
        justify-content: space-around;
    }
}