/* Note there a few "reset" styles given in reset.css. Review those before you begin */

/* index.html */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cabin:wght@400;500&family=Comfortaa&family=Poppins:wght@300&family=Questrial&family=Source+Sans+Pro&display=swap');

:root {
    --lightmocha: #F6F5DD;
    --mocha:		#EAE4C3;
    --darkmocha: #D6D1B4;
    --font: 'Cabin', sans-serif;
}

html {
    font-family: var(--font);
    background-color: var(--mocha);
}

main {
    padding: 3em 1em;
}

nav {
    width: 60%;
    padding: 1em;
}

nav ul li ul {
    position: absolute;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lightmocha);
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu li ul {
    display: none;
}

.menu li:hover ul {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
}

.submenu {
    background-color: var(--lightmocha);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
    padding-left: 0;
    padding-top: 1em;
    width: 10em;
    height: 10em;
    border-radius: 0.8em;
}

.submenu li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu li:hover {
    background-color: var(--darkmocha);
    border-radius: 0.7em;
}


